/* This file is part of the http://github.com/aaronbloomfield/ics
 * repo, and has the same license as the rest of the repo (CC BY-SA)
 *
 * The formatting is loosely based on that of github.com's README.md
 * file CSS formatting
 */

body {
    font: 15px/1.4 Helvetica,arial,freesans,clean,sans-serif;
}

a {
    /* text-decoration: none; */
}

h1 {
    font-size: 2.5em;
    border-bottom: 1px solid rgb(221, 221, 221);
}

h2 {
    font-size: 2em;
    border-bottom: 1px solid rgb(238, 238, 238);
}

code {
    background: rgb(240,240,240);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px;
    font-size: 13px;
    white-space: inherit;
}

pre {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px;
    padding: 6px 10px;
    /* Make the pre box scrollable rather than scrolling the whole page */
    overflow: auto;
}

pre code {
    border: none;
    padding: 0;
}

img {
    /* Prevent image from scrolling off the page on mobile */
    max-width: 100%;
}

blockquote {
    background: #f9f9f9;
    border-left: 5px solid #cccccc;
    margin: 1em 10px;
    padding: 0.25em 10px;
}

/* table formatting */
/*
th {
  background-color: #cccccc;
  text-align:center;
  padding: 4px;
}

tr:hover {
  background-color: #eeeeee;
}

td {
    padding: 2px;
}
*/

table {
    border-collapse: collapse;
    border-spacing: 0px;
    word-break: keep-all;
}

table tr {
    background-color: #FFF;
    border-top: 1px solid #CCC;
}

table th {
    padding: 6px 13px;
    border: 1px solid #DDD;
    background-color:#cccccc;
}

table td {
    padding: 6px 13px;
    border: 1px solid #DDD;
}

table tr:nth-child(2n){
    background-color:#f8f8f8;
}

td.wrap {
    word-break: break-all;
}


code.also {
    white-space: normal;
    background: rgb(240,240,240);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid darkgray;
    border-radius: 4px;
}

img.icon {
    max-width: 25px;
    max-height: 25px;
    vertical-align: middle;
}

img.formula {
    vertical-align: middle;
    max-height:20px;
}

img.formulabig {
    vertical-align: middle;
    max-height:40px;
}

/* Tab content, adapted from https://www.w3schools.com/howto/howto_js_tabs.asp */

 /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border:  1px solid lightgray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 

div.cclogos img {
  width: 50px;
  max-height: 50px;
}

.copy_img {
     background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBzdHlsZT0iZmlsbDojODA4MDgwIiBkPSJNNDMzLjk0MSA2NS45NDFsLTUxLjg4Mi01MS44ODJBNDggNDggMCAwIDAgMzQ4LjExOCAwSDE3NmMtMjYuNTEgMC00OCAyMS40OS00OCA0OHY0OEg0OGMtMjYuNTEgMC00OCAyMS40OS00OCA0OHYzMjBjMCAyNi41MSAyMS40OSA0OCA0OCA0OGgyMjRjMjYuNTEgMCA0OC0yMS40OSA0OC00OHYtNDhoODBjMjYuNTEgMCA0OC0yMS40OSA0OC00OFY5OS44ODJhNDggNDggMCAwIDAtMTQuMDU5LTMzLjk0MXpNMjY2IDQ2NEg1NGE2IDYgMCAwIDEtNi02VjE1MGE2IDYgMCAwIDEgNi02aDc0djIyNGMwIDI2LjUxIDIxLjQ5IDQ4IDQ4IDQ4aDk2djQyYTYgNiAwIDAgMS02IDZ6bTEyOC05NkgxODJhNiA2IDAgMCAxLTYtNlY1NGE2IDYgMCAwIDEgNi02aDEwNnY4OGMwIDEzLjI1NSAxMC43NDUgMjQgMjQgMjRoODh2MjAyYTYgNiAwIDAgMS02IDZ6bTYtMjU2aC02NFY0OGg5LjYzMmMxLjU5MSAwIDMuMTE3LjYzMiA0LjI0MyAxLjc1N2w0OC4zNjggNDguMzY4YTYgNiAwIDAgMSAxLjc1NyA0LjI0M1YxMTJ6Ii8+PC9zdmc+');
}

.copylink {
    height:13px;
    width:13px;
    display:inline-block;
    margin-right:5px;
    vertical-align:middle;
    background-repeat:no-repeat;
    cursor:pointer;
}
