/* This file is part of both the http://github.com/aaronbloomfield/ccc and
   http://github.com/aaronbloomfield/ics repositories, and has the same
   license as the rest of those repos (CC BY-SA)
 */

/* Fixing some slide formatting to my tastes */
strong.red {
  color: #ff0000; 
}
li { 
  text-align: justify;
}
p { 
  text-align: justify;
}
p.center { 
  text-align: center;
}

/* default tables created by markdown */
.reveal section table {
  margin-left: auto;
  margin-right: auto;
}
.reveal table tr:nth-child(even) {
  background-color: rgb(80,130,190);
  padding-left: 5px;
}
.reveal table tr:nth-child(odd) {
  background-color: #666666;
  padding-left: 5px;
}
.reveal table th {
  background-color: rgb(20,60,110);
  padding: 5px;
  text-align:center;
}
.reveal table tr td {
  text-align:center;
  font-size: 80%;
  line-height: 120%;
}

/* for when no formatting is desired (such as the CS 2150 roadmap) */
.reveal table.default tr:nth-child(even) td {
  background-color: transparent;
  padding-left: 5px;
}
.reveal table.default tr:nth-child(odd) td {
  background-color: transparent;
  padding-left: 5px;
}
.reveal table.default th {
  background-color: transparent;
  padding: 5px;
}

/* for side-by-side code blocks */
.reveal table.wide tr { 
  background-color: transparent;
  width:100%;
}

/* make the code blocks bigger */
.reveal pre {
  font-size: 25px;
  margin-right: 80px;
  margin-left: 20px;
}
.reveal pre code { 
    max-height: 700px;
    background-color:dimgray;
    border-radius:7px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

/* add spacing below the slide title */
.reveal h2 {
  font-variant:small-caps;
  text-transform:none;
  /* margin: -50px 0px 50px 0px; */
}

/* center images on the slide */
.reveal section img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* for hard-coding table alignments */
td.top {
  vertical-align: top;
}
td.middle {
  vertical-align: middle;
}
.reveal td.middletrans {
  vertical-align: middle;
  background-color: transparent;
}
.reveal td.trans {
  background-color: transparent;
}

/* currently not used anymore, and slated to be removed eventually */
span.tt { 
  font-family: monospace;
}

/* for vertical table memory cells, which need a border */
td.border {
  border-width:medium;
  border-style:solid;
  border-bottom:medium solid;
}

/* for horizontal table memory cells, which need a border */
tr.bordercfifty td {
  border-width:medium;
  border-style:solid;
  text-align:center;
  width:50px;
}

/* for a transparent table background */
.reveal table.transparent tr { 
  background-color: transparent;
}
.reveal table.transparent td { 
  border-bottom: 0px;
  background-color: transparent;
  vertical-align: top;
}
.reveal table.transparent th { 
  text-decoration:underline;
  background-color: transparent;
  border-bottom: 0px;
}

/* for an image without a border */
.reveal img.plain {
  border:0px;
  background:none;
}

/* smaller lists */
ul.small {
    font-size:60%;
    line-height:120%;
}

/* for ... */
.reveal img.print { 
    border:0px;
    margin:0px;
    vertical-align:middle;
    position:initial;
  display:inline;
  top:-11px;
  left:3px;
  padding:0;
  border-radius:0;
}

.reveal sub { 
  font-size: 20px;
}
.reveal sup { 
  font-size: 20px;
}

/* font colors */

span.red { color:red; }
span.skyblue { color:skyblue; }
span.pink { color:pink; }
span.blue { color:blue; }
span.green { color:green; }
span.lightgreen { color:lightgreen; }
span.orange { color:orange; }
span.yellow { color:yellow; }

p.blankline { height:1em; }

.norad img {
    border-radius:0;
}

.noboxshadow img {
  box-shadow: none !important;
}

.right-float-img img {
    float:right;
    max-width: 50%;
    margin-left:20px !important;
    max-height: 600px;
    margin-top: 12px;
}

.right-float-img-200 img {
    float:right;
    max-width:200px;
    max-height:100px;
    margin-left:20px !important;
}

.right-float-img-nb-300 img {
    float:right;
    max-width: 50%;
    margin-left:20px !important;
    max-height: 600px;
    margin-top: 12px;
    padding: 0;
    max-width: 300px;
    max-height: 300px;
}

.right-float-img-400 img {
    float:right;
    max-width:400px;
    max-height:200px;
    margin-left:20px !important;
}

.right-float-img-nb-400 img {
    float:right;
    max-width: 50%;
    margin-left:20px !important;
    max-height: 600px;
    margin-top: 12px;
    padding: 0;
    max-width: 400px;
    max-height: 400px;
}

.right-float-img-500 img {
    float:right;
    max-width:500px;
    max-height:250px;
    margin-left:20px !important;
}

.right-float-img-600 img {
    float:right;
    max-width:600px;
    max-height:300px;
    margin-left:20px !important;
}

.right-float-img-800 img {
    float:right;
    max-width:800px;
    max-height:400px;
    margin-left:20px !important;
}

.right-float-img-1000 img {
    float:right;
    max-width:1000px;
    max-height:500px;
    margin-left:20px !important;
}

.left-float-img img {
    float:left;
    max-width: 50%;
    margin-left:20px !important;
    max-height: 600px;
    margin-top: 12px;
}

.left-float-img-800 img {
    float:left;
    max-width:800px;
    max-height:400px;
    margin-left:20px !important;
}

.img-max-height-500 img {
    max-height: 500px;
}

.big-table-small table {
  font-size: smaller;
}

.max-pre-400 pre code {
    max-height:400px;
}

.reveal section img {
  background:white;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.2);
}

.reveal img.print {
  box-shadow:none;
}

section.small-code pre {
  font-size:45%;
  line-height:110%;
}

.max-image-height-200 img {
    max-height:200px;
}

.max-image-height-300 img {
    max-height:300px;
}

.max-image-height-500 img {
    max-height:500px;
}

section.no-white-img-background img {
    background:none;
    border:0;
}


/* to color <pre> blocks of code */

.reveal pre.code { 
    max-height: 700px;
    background-color:dimgray;
    border-radius:7px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    font-family: monospace;
    padding: 5px;
    overflow: auto;
    word-wrap: normal;
}

.reveal pre.codesmall {
    font-size: 22px;
    max-height: 700px;
    background-color:dimgray;
    border-radius:7px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    font-family: monospace;
    padding: 5px;
    overflow: auto;
    word-wrap: normal;
}

.reveal blockquote {
    border-radius:20px;
    box-shadow: 10px 10px 2px rgba(0,0,0,0.2);
    padding-left: 20px;
    padding-right: 20px;
}

div.titlesmall p {
    text-align:center !important;
    font-size:0.65em;
    margin-top:0;
    margin-bottom:0;
}

p.titlep {
    margin:0;
}

img {
  padding:10px;
  border-radius:10px;
}

img.nopad {
  padding:0;
  border-radius:0;
}

.reveal li {
  font-size:90%;
  line-height:120%;

}

code.small {
  /*scale: 80%;*/
  transform: scale(0.8,0.8);
  width: 115%;
  margin-left: -50px;
  height: 400px;
  font-size: smaller;
  transform-origin: top;
}

code.longcode {
  /*scale: 80%;*/
  transform: scale(0.8,0.8);
  width: 100%;
  margin-left: auto;
  height:auto;
  font-size:50%;
  line-height:normal;
}

/* list left alignment, from https://stackoverflow.com/questions/37652514/left-align-lists-in-reveal-presentations */
.reveal ol,
.reveal dl,
.reveal ul {
  display: block;
  text-align: left;
  margin: 0 0 0 1em;
}

table.compact {
  transform-origin:left;
}

table.compact tr td {
  font-size: 0.5em;
  padding: 4px;
}

/* for when it is going as the start of the <li> bullet point */
img.cclogo, img[src$='#cclogo'], .cclogo-slide a img {
  width: 50px;
  max-height: 50px;
  /* float: left; */
  vertical-align:  middle;
  display: inline !important;
  float: none;
  padding-right: 0;
  background-color: transparent !important;
  margin-right: 10px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  box-shadow: none !important;
}

/* In a slide, but bigger than the previous one */
img.cclogolarge {
  width: 100px;
  max-height: 100px;
  float: left;
  background-color: transparent !important;
  margin-right: 10px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  box-shadow: none !important;
}

/* In a slide, but smaller than the previous one */
img.cclogomed, div.cclogomed img, img[src$='#cclogomed'] {
  width: 90px;
  max-height: 90px;
  float: left;
  background-color: transparent !important;
  margin-right: 10px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  box-shadow: none !important;
}

/* on a slide column heading page, it appears above the <h1> title and very large */
img.cclogotitle {
  width: 200px;
  background-color: transparent !important;
  margin-top: auto;
  box-shadow: none !important;
}

/* on a slide column heading page, it appears below the <h1> title and small */
img.cclogosubtitle {
  width: 50px;
  background-color: transparent !important;
  margin-top: auto;
  display: inline !important;
  text-align: center;
  box-shadow: none !important;
}

/* on a regular slide, it appears at the start of the <h2> slide title */
img.cclogoheader, .cclogo-slide h2 a img {
  width: 70px !important;
  height: 70px !important;
  max-height: 70px;
  max-width: 70px;
  background-color: transparent !important;
  margin-top: auto;
  display: inline !important;
  text-align: center;
  vertical-align:  middle;
  box-shadow: none !important;
}

.normal-slide-size li {
  font-size:90% !important;
  line-height:120% !important;
}

code.notworking {
  background-color: #292929;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

pre.code-wrapper {
  box-shadow: none;
}

.reveal pre {
  box-shadow: none
}

.reveal blockquote {
  padding-left: 20px;
  padding-right: 20px;
}

img.flag {
  width: 90px;
  max-height: 70px;
  float: left;
  border-radius: 0;
  padding: 0;
  border: 0;
  margin: 5px;
  margin-right: 10px !important;
}

pre.nobottom {
  margin-bottom: -40px;
}

div.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
  scale: 170%;
  margin-top: 120px !important;
  margin-bottom: 140px !important;
}

.nopad img {
  padding: 0 !important;
}

span.hotpink { color:hotpink; }